body {
  text-align: center;
  cursor: none;
}
#display {
  margin: auto;
  height: 500px;
  width: 800px;
  border: 1px solid rgb(109, 178, 199);
}
#q-bar {
  border: 3px solid rgb(109, 178, 199);
  height: 100px;
}
#answer-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
input {
  width: 40%;
  height: 70px;
  border: 1px solid blue;
  border-radius: 10px;
  margin: 60px auto;
  background-color: rgb(77, 151, 151);
  transition: 0.3s;
  cursor: none;
}
.hover {
  background-color: rgb(93, 209, 209);
  transform: scale(1.1);
  transition-duration: 0.5 ease;
}

/*Cursor animation by Dev Ed: https://www.youtube.com/watch?v=TpwpAYi-p2w*/
#cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid aqua;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
